#pycache
*/__pycache__/*
*.pyc
*.pyo
*.mo
*media/*
*photos/*
*media/payments/*
*media/tail/*
*media/user-files/*
*media/estimates/*
*bin/*
*lib/*
*include/*
*venv/*
.env
messages.csv
backup.log
yolov8n.pt
yolov8n-seg.pt
